<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <h2>新規作成</h2>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, :class => "input_text", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :ユーザー名 %><br />
    <%= f.text_field :user_name, :class => "input_text" %>
    <br />
    <em>必須項目です</em>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em><%= @minimum_password_length %> 文字以上</em>
    <% end %><br />
    <%= f.password_field :password, :class => "input_text", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード確認 %><br />
    <%= f.password_field :password_confirmation, :class => "input_text", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :プロフィール画像 %><br />
　   <%= f.file_field :avatar %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン", :class => "btn-border" %>
  </div>

  <br />
  <div class="actions">
    <a href="/about">登録の前にこちらをご覧ください</a>
  </div>
<% end %>
