#main
  - if flash[:alert].present?
    %div.alert
      = flash[:alert]
  .slider_css
    %ul
      %li
      %li
      %li
      %li
      %li
      %li
      #description_area
        %h1 観戦に新たな視点を見つけよう
        - unless user_signed_in?
          = link_to "Sign up", new_user_registration_path, class: 'post'
  .cssgrid
    %div 
      %i.fas.fa-futbol
      %p サッカー観戦
    %div
      %i.fas.fa-pencil-alt
      %p 自分の評価を記録
    %div
      %i.far.fa-heart
      %p お気に入りの投稿者を見つける

  - @match.zip(@like_count, @user).each do |match, like, user|
    .post-info-box
      %a{:href => "/users/#{match.uid}"}
        %img.user-profile-image{:src => "#{user.present? && user.avatar.present? ? user.avatar : "/assets/icon.jpg"}"}/
      %a{:href => "/matches/#{match.match_id}/evaluate/#{match.uid}"}
        .post-info-text
          .post-title J1 第#{match.section}節 #{match.home_team_name} vs #{match.away_team_name}
          .post-info 
            %span by #{match.user_name}
            %span #{match.evaluate_date.to_s(:time_format)}
            %span
              %i.far.fa-heart
              #{like}
  = paginate @match

  #footer
    %a{:href => "/about"} 当サイトについて