- @match_content.each do |match|
  %a{:href => "/matches/#{match['match_id']}/evaluate/#{match['uid']}"}
    .post-info-box
      %img.user-profile-image{:src => "/assets/icon1.png"}/
      .post-info-text
        .post-title J1 第#{match["section"]}節 #{match["home_team_name"]} vs #{match["away_team_name"]}
        .post-info 
          %span by #{match["email"]}
          %span #{match["updated_at"].to_s(:time_format)}
          %span
            %i.far.fa-heart
            41