#main
  - @match.zip(@like_count).each do |match, like|
    .post-info-box
      %a{:href => "/users/#{match.uid}"}
        %img.user-profile-image{:src => "#{image_path(match.avatar, match.user_id)}"}/
      %a{:href => "/matches/#{match.match_id}/evaluate/#{match.uid}"}
        .post-info-text
          .post-title J1 第#{match.section}節 #{match.home_team_name} vs #{match.away_team_name}
          .post-info 
            %span by #{match.user_name}
            %span #{match.evaluate_date.to_s(:time_format)}
            %span
              %i.far.fa-heart
              #{like}

= render "/layouts/sidebar"