#main
  .user-info-area
    .user-image-area
      %img.user-profile-image{:src => "#{@user.avatar.present? ? @user.avatar.versions[:thumb] : "/assets/icon.jpg"}"}/
    %div
      %p #{@user.user_name}
  
  - if @evaluate.present?
    .user-information-analysis
      %canvas.post-teams-analysis
      .post-player-analysis
        %p.post-player-title
          採点プレイヤーランキング
        - @evaluate_ranking.each_with_index do |evaluate, i|
          %p
            %span.rank #{i+1}
            %span.player-name #{evaluate.player_name}
            %span.point #{evaluate.point}
          %p
            %span.team-name #{evaluate.short_name}
  
  - @match.zip(@like_count).each do |match, like|
    .post-info-box
      %a{:href => "/users/#{match.uid}"}
        %img.user-profile-image{:src => "#{image_path(match.avatar, match.user_id)}"}/
      %a{:href => "/matches/#{match.match_id}/evaluate/#{match.uid}"}
        .post-info-text
          .post-title J1 第#{match.section}節 #{match.home_team_name} vs #{match.away_team_name}
          .post-info 
            %span by #{match.user_name}
            %span #{match.updated_at.to_s(:time_format)}
            %span
              %i.far.fa-heart
              #{like}

  %input#evaluate_json{:type => "hidden", :value => "#{@evaluate.to_json.html_safe}"}/

= render "/layouts/sidebar"