#main
  .user-info-area
    .user-image-area
      %img.user-profile-image{:src => "#{@user.avatar.present? ? @user.avatar.versions[:thumb] : "/assets/icon.jpg"}"}/
    %div
      %p #{@user.user_name}
      %div
        = link_to "following: #{@user.following.count}", following_user_path(@user)
        = link_to "followers: #{@user.followers.count}", followers_user_path(@user)
      %a{:href => "/users/#{@user.uid}/likes"}
        %p いいね一覧
  - if @user.introduction.present?
    .user-introduction-area
      %p.user-introduction
        #{@user.introduction}
        
  
  - if @evaluate.present?
    .user-information-analysis
      %canvas.post-teams-analysis
      .post-player-analysis
        %p.post-player-title
          採点プレイヤーランキング
        - @evaluate_ranking.each_with_index do |evaluate, i|
          %p
            %span.rank #{i+1}
            %span.player-name #{evaluate.player_name}
            %span.point #{evaluate.point}
          %p
            %span.team-name #{evaluate.short_name}

  - if current_user.present? && current_user != @user
    - if current_user.following?(@user)
      = form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete }) do |f|
        = f.submit 'Unfollow', :class=>"btn-border"
    - else
      = form_for(current_user.active_relationships.build) do |f|
        %div
          = hidden_field_tag :followed_id, @user.id
        = f.submit "Follow", :class=>"btn-border"

  
  - @match.zip(@like_count, @evaluate_user).each do |match, like, user|
    .post-info-box
      %a{:href => "/users/#{match.uid}"}
        %img.user-profile-image{:src => "#{user.present? && user.avatar.present? ? user.avatar : "/assets/icon.jpg"}"}/
      %a{:href => "/matches/#{match.match_id}/evaluate/#{match.uid}"}
        .post-info-text
          .post-title J1 第#{match.section}節 #{match.home_team_name} vs #{match.away_team_name}
          .post-info 
            %span by #{match.user_name}
            %span #{match.evaluate_date.to_s(:time_format)}
            %span
              %i.far.fa-heart
              #{like}
  
  = paginate @match

  %input#evaluate_json{:type => "hidden", :value => "#{@evaluate.to_json.html_safe}"}/

= render "/layouts/sidebar"