#main
  - if @create_flg.present?
    = form_with url: match_path, data: {remote: false}, :method => :put do |f|
      = render "evaluate_area", f: f
  - else
    = form_with url: matches_path, data: {remote: false}, :method => :post do |f|
      = render "evaluate_area", f: f

= render "/layouts/sidebar"