#side
  .latest_match_area
    %a{:href => "/match_list/2019/#{@latest_section}"}
      .latest-match-title 第#{@latest_section}節
    - @latest_match.each do |match|
      %a{:href => "/matches/#{match.match_id}"}
        .latest-match-list-content
          %span.home-team-name #{match.home_team_name}
          %span.center-text vs
          %span.away-team-name #{match.away_team_name}