!!!
%html
  %head
    %title Score
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "https://fonts.googleapis.com/css?family=Noto+Sans+SC|Noto+Sans+JP", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = analytics_init if Rails.env.production?
    = favicon_link_tag('favicon.ico')
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0", :name => "viewport"}/


  %body
    %header#site-header
      .site-header-content
        %a.top_link{:href => "/"}
          %h1.site-title Score

        - if user_signed_in?

          // ユーザーがログインしているか調べる
          .header-button
            #user_info_area
              %a{:href => "/users/#{@login_user.uid}"}
                %img.login-user-avatar{:src => "#{@login_user.avatar.present? ? @login_user.avatar.versions[:thumb] : "/assets/icon.jpg"}"}/
              %label{:for => "menuOn"}
                %input#menuOn{:type => "checkbox"}/
                %menu.user_menu
                  %ul
                    %li
                      %a{:href => "/users/#{current_user.uid}"} マイページ
                    %li
                      %a{:href => "/users/edit"} ユーザー情報変更
                    %li
                      %a{:href => "/match_list/2019/#{@latest_section}"} 試合一覧
                    %li
                      = link_to 'ログアウト', destroy_user_session_path, method: :delete
                .overlay
            
        - else
          .header-button
            = link_to "Sign in", new_user_session_path, class: 'post signin'
            / ログイン画面に移行する
            = link_to "Sign up", new_user_registration_path, class: 'post'
            / 新規登録画面に移行する
    #content
      = yield 
:javascript
   document.getElementById("menuOn").checked = false